.header {
  border-style: solid;
  border-color: red;
  height: 200px;
}

.header-netflix-background {
  background-image: url("https://assets.nflxext.com/ffe/siteui/vlv3/783e3b0f-b68e-440e-a980-0e1c19cbe76c/772aef46-c367-4f6c-a63f-e638b77017f0/UA-en-20190318-popsignuptwoweeks-perspective_alpha_website_large.jpg");
  background-position: center;
  background-size: 100%;
}
